writeup/*.aux
writeup/*.glo
writeup/*.idx
writeup/*.log
writeup/*.toc
writeup/*.ist
writeup/*.acn
writeup/*.acr
writeup/*.alg
writeup/*.bbl
writeup/*.blg
writeup/*.dvi
writeup/*.glg
writeup/*.gls
writeup/*.ilg
writeup/*.ind
writeup/*.lof
writeup/*.lot
writeup/*.maf
writeup/*.mtc
writeup/*.mtc1
writeup/*.out
writeup/*.synctex.gz
writeup/*.fdb_latexmk
writeup/*.pdf

submission*
output*
data*

*.pyc
.ipynb_checkpoints*
